:root {
  --header-height: 50px;
}

@media (min-width: 1140px) {
  :root {
    --header-height: 75px;
  }
}
body {
  margin: 0;
  font-family: Quicksand, sans-serif;
  min-height: 5000px;
  background-color: #333;
}

.heading {
  margin: 0.6em 0;
  font-size: clamp(24px, 4vw, 32px);
  color: rgb(255, 255, 255);
  font-weight: normal;
}

.heading--small {
  font-size: clamp(18px, 3vw, 24px);
}

.heading--tiny {
  font-size: 16px;
}

.heading--color-2 {
  color: rgb(0, 172, 229);
}

.heading--color-3 {
  color: rgb(0, 0, 0);
}

.heading--no-margin {
  margin: 0;
}

.heading--bold {
  font-weight: bold;
}

.link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.link--bold {
  font-size: bold;
}

.link--hover-effect-1:hover {
  font-weight: bold;
}

.link--hover-effect-2:hover {
  text-decoration: underline;
}

.website-header {
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;
  margin-bottom: var(--header-height);
  background-color: rgb(0, 172, 229);
  transition: 650ms ease-in-out;
}

.website-header--fancy .search-button__image path,
.website-header--fancy .socials-list__link path {
  transition: 650ms ease-in-out;
}

.website-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: var(--header-height);
  padding: 0 12px;
  max-width: 1400px;
  margin: auto;
}

.website-header__left {
  display: flex;
  align-items: center;
  height: 100%;
}

.website-header__sliding-info {
  display: none;
}

.website-header__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
}

.website-header__list-item {
  display: flex;
}

.website-header__list-link {
  display: flex;
  align-items: center;
  padding: 0 8px;
  font-size: clamp(14px, 1.5vw, 20px);
  line-height: 100%;
  box-sizing: border-box;
  white-space: nowrap;
}
.website-header__list-link:hover {
  background-color: rgb(0, 172, 229);
}

.website-header__right {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (min-width: 440px) {
  .website-header-content {
    padding-left: 0;
  }
  .website-header__sliding-info {
    display: flex;
  }
}
@media (min-width: 1140px) {
  .website-header {
    margin: 0;
  }
  .website-header--fancy {
    background: transparent;
  }
  .website-header--fancy .website-header__list-link {
    color: rgb(0, 172, 229);
  }
  .website-header--fancy .website-header__list-link:hover {
    background-color: rgb(0, 172, 229);
    color: rgb(255, 255, 255);
  }
  .website-header--fancy .search-button__image path,
.website-header--fancy .socials-list__link path {
    fill: rgb(0, 172, 229);
  }
  .website-header__list {
    position: static;
    background-color: inherit;
  }
  .website-header__list-link:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 172, 229);
  }
}
@layer {
  .sliding-info {
    display: flex;
    align-items: center;
    position: relative;
    width: 52px;
    height: 100%;
    padding: 8px;
    background-color: inherit;
    box-sizing: border-box;
    text-transform: uppercase;
    transition: 300ms;
  }
  .sliding-info:hover {
    background-color: rgb(255, 255, 255);
  }
  .sliding-info:hover .sliding-info__hidden-part {
    width: 120px;
  }
  .sliding-info:hover .sliding-info__text {
    opacity: 1;
  }
  .sliding-info:hover .sliding-info__image-path {
    fill: rgb(0, 0, 0);
  }
  .sliding-info__image {
    display: block;
    width: 32px;
    flex-shrink: 0;
  }
  .sliding-info__hidden-part {
    display: flex;
    align-items: center;
    position: absolute;
    left: 100%;
    top: 0;
    width: 0;
    height: 100%;
    background-color: inherit;
    overflow: hidden;
    box-sizing: border-box;
    transition: 300ms;
    z-index: 1;
  }
  .sliding-info__text {
    flex-shrink: 0;
    width: 100px;
    opacity: 0;
    transition: 300ms;
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.logo__image-1 {
  height: 55%;
  transition: 650ms ease-in-out;
}

.logo__image-2 {
  height: 55%;
  transition: 650ms ease-in-out;
}

.logo__letter-a,
.logo__letter-b,
.logo__letter-c {
  transition: 650ms ease-in-out;
}

.logo__letter {
  fill: rgb(255, 255, 255);
}

@media (min-width: 1140px) {
  .logo--fancy {
    position: relative;
  }
  .logo--fancy .logo__image-1 {
    height: 70%;
    padding: 0 12px;
    background-color: rgb(0, 172, 229);
  }
  .logo--fancy .logo__image-2 {
    position: absolute;
    top: 100%;
    left: 50%;
    height: 75%;
    padding-top: 12px;
    transform: translateX(-50%);
  }
  .logo--fancy .logo__image-2 .logo__letter-a {
    fill: rgb(0, 184, 40);
  }
  .logo--fancy .logo__image-2 .logo__letter-b {
    fill: rgb(255, 185, 0);
  }
  .logo--fancy .logo__image-2 .logo__letter-c {
    fill: rgb(255, 9, 70);
  }
}
.socials-list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  transition: opacity 300ms;
}
.socials-list__link:hover {
  opacity: 0.7;
}

.button {
  padding: 0.8em 4em;
  font-size: clamp(12px, 2.5vw, 16px);
  color: rgb(255, 255, 255);
  background-color: rgb(0, 184, 40);
  border-radius: 5px;
  border: none;
  font-weight: bold;
  transition: 300ms;
}
.button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 184, 40);
  cursor: pointer;
}

.button--with-arrow {
  display: flex;
  align-items: center;
  gap: 0.25em;
}
.button--with-arrow:hover::before {
  border-left-color: rgb(0, 184, 40);
}
.button--with-arrow::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.35em 0.5em;
  border-color: transparent;
  border-left-color: rgb(255, 255, 255);
  transition: 300ms;
}

.search-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  transition: 300ms;
}
.search-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.search-button__image {
  width: 18px;
}

:root {
  --side-element-width: 40px;
  --side-element-horizontal-padding: 16px;
}

.now-on-air {
  background-color: white;
  background-image: linear-gradient(90deg, rgb(0, 184, 40) 50%, rgb(255, 9, 70) 50%);
}

.now-on-air-content {
  display: flex;
  max-width: 1400px;
  margin: auto;
  height: 90px;
}

.now-on-air__side-element {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  width: var(--side-element-width);
  padding: 16px var(--side-element-horizontal-padding);
  box-sizing: border-box;
  background-color: rgb(0, 184, 40);
}

.now-on-air__side-element--first {
  display: none;
}

.now-on-air__side-element--background-2 {
  background-color: rgb(255, 9, 70);
}

.now-on-air__presentation-list {
  display: flex;
  flex-grow: 1;
  width: calc(100% - var(--side-element-width));
  margin: 0;
  padding: 0;
  list-style: none;
}
.now-on-air__presentation-list > li {
  width: 100%;
}
.now-on-air__presentation-list > li:nth-child(n+2) {
  display: none;
}

.now-on-air__full-program-span {
  display: none;
}

@media (min-width: 680px) {
  :root {
    --side-element-width: 160px;
    --side-element-horizontal-padding: 32px;
  }
  .now-on-air__side-element--first {
    display: flex;
  }
  .now-on-air__presentation-list {
    width: calc(100% - 2 * var(--side-element-width));
  }
  .now-on-air__full-program-span {
    display: inline;
  }
}
@media (min-width: 900px) {
  .now-on-air__presentation-list > li {
    width: 50%;
  }
  .now-on-air__presentation-list > li:nth-child(n+2) {
    display: block;
  }
  .now-on-air__presentation-list > li:nth-child(n+3) {
    display: none;
  }
}
@media (min-width: 1120px) {
  .now-on-air__presentation-list > li {
    width: 33.333333%;
  }
  .now-on-air__presentation-list > li:nth-child(n) {
    display: block;
  }
}
.program-presentation {
  flex-grow: 1;
}

.program-presentation-content {
  display: flex;
  background-color: rgb(255, 185, 0);
}

.program-presentation__image {
  height: 90px;
  width: 160px;
  object-fit: cover;
  object-position: center;
}

.program-presentation__text-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: calc(100% - 160px);
  height: 90px;
  padding: 12px;
  font-size: 14px;
  box-sizing: border-box;
}

.program-presentation__text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.big-introduction {
  position: relative;
}

.big-introduction__link {
  display: block;
}

.big-introduction__image {
  display: block;
  width: 100%;
}

.big-introduction__button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 1140px) {
  .big-introduction--under-header {
    margin-top: -75px;
  }
}

/*# sourceMappingURL=home-main.css.map */
