$max-width: 1400px;

$green: rgb(0, 184, 40);
$blue: rgb(0, 172, 229);
$red: rgb(255, 9, 70);
$yellow: rgb(255, 185, 0);
$transparent-black: rgb(0 0 0 / 0.75);

$radius-small: 5px;
$radius-normal: 10px;