<aside class="now-on-air">

  <div class="now-on-air-content">

    <h2 class="now-on-air__side-element now-on-air__side-element--first heading heading--tiny heading--no-margin">Teraz na antenie</h2>

    <ul class="now-on-air__presentation-list">

      <li class="program-presentation">

        <a class="program-presentation-content link link--hover-effect-2">

          <img class="program-presentation__image" src="images/misc/now-on-air-1.jpg">

          <div class="program-presentation__text-part">

            <span class="program-presentation__text">08:30</span>
  
            <h3 class="program-presentation__text heading heading--tiny heading--no-margin heading--bold">Dino Ranczo - Duma Dino Ranczersów</h3>
  
            <span class="program-presentation__text">serial animowany</span>

          </div>

        </a>

      </li>

      <li class="program-presentation">

        <a class="program-presentation-content link link--hover-effect-2">

          <img class="program-presentation__image" src="images/misc/now-on-air-2.jpg">

          <div class="program-presentation__text-part">

            <span class="program-presentation__text">8:45</span>
  
            <h3 class="program-presentation__text heading heading--tiny heading--no-margin heading--bold">Wissper - Hipopotamy na zmiany</h3>
  
            <span class="program-presentation__text">serial animowany</span>

          </div>

        </a>

      </li>

      <li class="program-presentation">

        <a class="program-presentation-content link link--hover-effect-2">

          <img class="program-presentation__image" src="images/misc/now-on-air-3.jpg">

          <div class="program-presentation__text-part">

            <span class="program-presentation__text">9:00</span>
  
            <h3 class="program-presentation__text heading heading--tiny heading--no-margin heading--bold">Wishenpoof - Bieg z przeszkodami</h3>
  
            <span class="program-presentation__text">serial animowany</span>

          </div>

        </a>

      </li>

    </ul>

    <a class="now-on-air__side-element now-on-air__side-element--background-2 link link--hover-effect-2">

      <img src="images/icons/menu.svg" alt="Ikona menu">
      <span class="now-on-air__full-program-span">Pełny program</span>

    </a>

  </div>

</aside>