<li class="fancy-info-box">

  <a class="link">

    <img class="fancy-info-box__image" src="images/misc/fancy-info-1.png">

    <p class="fancy-info-box__text paragraph paragraph--medium paragraph--no-margin">
      Konkurs "Warzywa i owoce"
    </p>

  </a>

</li>

<li class="fancy-info-box">

  <a class="link">

    <img class="fancy-info-box__image" src="images/misc/fancy-info-2.png">

    <p class="fancy-info-box__text paragraph paragraph--medium paragraph--no-margin">
      Dziękujemy za udział w konkursie "Lolek"
    </p>

  </a>

</li>

<li class="fancy-info-box">

  <a class="link">

    <img class="fancy-info-box__image" src="images/misc/fancy-info-3.png">

    <p class="fancy-info-box__text paragraph paragraph--medium paragraph--no-margin">
      Dziękujemy za udział w konkursie "Nauczyciel"
    </p>

  </a>

</li>

<li class="fancy-info-box">

  <a class="link">

    <img class="fancy-info-box__image" src="images/misc/fancy-info-4.png">

    <p class="fancy-info-box__text paragraph paragraph--medium paragraph--no-margin">
      Dziękujemy za udział w konkursie "Drzewa"
    </p>

  </a>

</li>

<li class="fancy-info-box">

  <a class="link">

    <img class="fancy-info-box__image" src="images/misc/fancy-info-5.png">

    <p class="fancy-info-box__text paragraph paragraph--medium paragraph--no-margin">
      Dziękujemy za udział w konkursie "Jesień"
    </p>

  </a>

</li>