<li class="info-box info-box--small info-box--interactive">
  
  <a href="wikipedia" class="link">

    <img class="info-box__image" src="images/misc/slideshow-1.jpg">

    <div class="info-box__text-part">

      <h3 class="heading heading--nano heading--bold heading--no-margin">Alice i Lewis</h3>

    </div>
  
  </a>

</li>

<li class="info-box info-box--small info-box--interactive">

  <a href="wikipedia" class="link">

    <img class="info-box__image" src="images/misc/slideshow-2.jpg">

    <div class="info-box__text-part">

      <h3 class="heading heading--nano heading--bold heading--no-margin">Wishenpoof</h3>

    </div>
  
  </a>

</li>

<li class="info-box info-box--small info-box--interactive">

  <a href="wikipedia" class="link">

    <img class="info-box__image" src="images/misc/slideshow-3.jpg">

    <div class="info-box__text-part">

      <h3 class="heading heading--nano heading--bold heading--no-margin">Tupcio Chrupcio</h3>

    </div>
  
  </a>

</li>

<li class="info-box info-box--small info-box--interactive">

  <a href="wikipedia" class="link">

    <img class="info-box__image" src="images/misc/slideshow-4.jpg">

    <div class="info-box__text-part">

      <h3 class="heading heading--nano heading--bold heading--no-margin">Super Wings: Super Lotki</h3>

    </div>
  
  </a>

</li>

<li class="info-box info-box--small info-box--interactive">

  <a href="wikipedia" class="link">

    <img class="info-box__image" src="images/misc/slideshow-5.jpg">

    <div class="info-box__text-part">

      <h3 class="heading heading--nano heading--bold heading--no-margin">Sadie Sparks</h3>

    </div>
  
  </a>

</li>

<li class="info-box info-box--small info-box--interactive">

  <a href="wikipedia" class="link">

    <img class="info-box__image" src="images/misc/slideshow-6.jpg">

    <div class="info-box__text-part">

      <h3 class="heading heading--nano heading--bold heading--no-margin">Jonasz i jego paczka</h3>

    </div>
  
  </a>

</li>

<li class="info-box info-box--small info-box--interactive">

  <a href="wikipedia" class="link">

    <img class="info-box__image" src="images/misc/slideshow-7.jpg">

    <div class="info-box__text-part">

      <h3 class="heading heading--nano heading--bold heading--no-margin">Bob Budowniczy</h3>

    </div>
  
  </a>

</li>

<li class="info-box info-box--small info-box--interactive">

  <a href="wikipedia" class="link">

    <img class="info-box__image" src="images/misc/slideshow-8.jpg">

    <div class="info-box__text-part">

      <h3 class="heading heading--nano heading--bold heading--no-margin">Świnka Peppa</h3>

    </div>
  
  </a>

</li>