<ul class="recommended-list">

  <li class='recommended-list__item'>

    <article>

      <a class='recommended-list__link link'>

        <img class='recommended-list__image' src='images/misc/recommended.jpg'>

        <h4 class='heading heading--nano heading--no-margin'>Uwaga casting!</h4>

      </a>

    </article>

  </li>

  <li class='recommended-list__item'>

    <article>

      <a class='recommended-list__link link'>

        <img class='recommended-list__image' src='images/misc/recommended.jpg'>

        <h4 class='heading heading--nano heading--no-margin'>Październikowy numer "Stasia"!</h4>

      </a>

    </article>

  </li>  

  <li class='recommended-list__item'>

    <article>

      <a class='recommended-list__link link'>

        <img class='recommended-list__image' src='images/misc/recommended.jpg'>

        <h4 class='heading heading--nano heading--no-margin'>"Kolaski za odblaski. Bezpieczne dzieci na drodze"</h4>

      </a>

    </article>

  </li>  

  <li class='recommended-list__item'>

    <article>

      <a class='recommended-list__link link'>

        <img class='recommended-list__image' src='images/misc/recommended.jpg'>

        <h4 class='heading heading--nano heading--no-margin'>Musical "Friends" w Teatrze Capitol</h4>

      </a>

    </article>

  </li>  

  <li class='recommended-list__item'>

    <article>

      <a class='recommended-list__link link'>

        <img class='recommended-list__image' src='images/misc/recommended.jpg'>

        <h4 class='heading heading--nano heading--no-margin'>Mali Wielcy Odkrywcy</h4>

      </a>

    </article>

  </li>  

  <li class='recommended-list__item'>

    <article>

      <a class='recommended-list__link link'>

        <img class='recommended-list__image' src='images/misc/recommended.jpg'>

        <h4 class='heading heading--nano heading--no-margin'>"Pordóże z Ambasadorką Bezpieczeństwa" cz. 3</h4>

      </a>

    </article>

  </li>  

  <li class='recommended-list__item'>

    <article>

      <a class='recommended-list__link link'>

        <img class='recommended-list__image' src='images/misc/recommended.jpg'>

        <h4 class='heading heading--nano heading--no-margin'>"Pordóże z Ambasadorką Bezpieczeństwa" cz. 2</h4>

      </a>

    </article>

  </li>  

  <li class='recommended-list__item'>

    <article>

      <a class='recommended-list__link link'>

        <img class='recommended-list__image' src='images/misc/recommended.jpg'>

        <h4 class='heading heading--nano heading--no-margin'>"Pordóże z Ambasadorką Bezpieczeństwa" cz. 1</h4>

      </a>

    </article>

  </li>  

</ul>