<footer class="website-footer">

  <nav class="website-footer-top">

    <div class="website-footer-content-top width-capper">

      <div class="website-footer-logo-container">

        <a class="logo logo--reversed-colors link" href="index.php">
    
          <svg class="logo__image-1" xmlns="http://www.w3.org/2000/svg" fill="none" height="35"
            viewBox="12 0 90 55">
            <g clip-path="url(#clip0)">
              <path fill="#fff" fill-rule="evenodd"
                d="M44.449 10.439h25.688v33.32H44.449V10.44zm27.552 0H97.69v33.32H72.001V10.44zm5.557 5.477v22.71h4.661v-6.928l1.009.038c6.26 0 9.343-4.007 9.343-7.996 0-3.912-2.988-7.805-8.905-7.805h-6.108v-.02zm4.642 4.389h1.675c2.664.038 3.977.935 4.167 3.55-.171 2.71-1.713 3.568-4.395 3.626H82.2v-7.176zM57.293 39.313L46.656 15.648h5.176l5.29 11.966.19.706.19-.725 5.252-11.946h5.175L57.293 39.313zM38.626 20.305v-4.39h-17.81v4.39h6.431v18.302h4.948V20.305h6.431zm-21.75-9.866h25.689v33.32H16.877V10.44zm-1.883-1.66h84.561V45.4h-84.56V8.779z"
                clip-rule="evenodd"></path>
            </g>
            <defs>
              <clipPath id="clip0">
                <path fill="#fff" d="M0 0H260V55H0z"></path>
              </clipPath>
            </defs>
          </svg>
    
          <svg class="logo__image-2" xmlns="http://www.w3.org/2000/svg" fill="none" height="70"
            viewBox="128 0 135 55">
            <g clip-path="url(#clip0)">
              <path class="logo__letter logo__letter-c" fill="#FF0946"
                d="M257.183 30.076c-2.112-.84-4.738.248-6.051 2.1-1.846 2.576-5.138 5.973-10.561 6.163-6.108.21-9.209-3.97-9.952-5.61-3.234-7.233 4.072-15.248 13.491-13.302 3.349.687 5.956.668 7.631-1.622 1.294-1.775.97-5.553-3.711-6.737-16.117-4.084-33.413 9.79-27.02 25.268 3.368 8.148 13.015 11.507 20.703 10.82 7.44-.668 14.842-4.752 17.544-10.095 1.636-3.225.38-6.012-2.074-6.985z">
              </path>
              <path class="logo__letter logo__letter-b" fill="#FFB900"
                d="M200.328 17.042c-3.596-.458-7.25-.076-10.618 1.107l1.865-10.668c.419-2.366-1.484-4.58-4.224-4.943-2.74-.362-5.309 1.28-5.728 3.646l-6.793 38.893v.019c-.418 2.366 1.484 4.58 4.224 4.943 1.922.248 3.749-.478 4.815-1.737 8.277 6.279 20.892 5.649 28.409-1.546 11.055-10.592 4.11-27.634-11.95-29.714zm-3.711 27.195c-6.526-.82-9.989-5.61-9.038-10.935 1.732-9.6 15.603-10.649 19.827-2.52 3.482 6.68-2.74 14.485-10.789 13.455z">
              </path>
              <path class="logo__letter logo__letter-a" fill="#00B828"
                d="M172.737 39.389l-3.387-26.107c-.305-2.366-2.797-4.007-5.556-3.645-2.379.305-4.187 2.004-4.434 3.989-3.844-1.928-8.334-2.672-12.825-2.08-14.518 1.908-22.51 16.183-15.432 27.06 3.939 6.05 11.76 9.523 20.056 8.436 4.357-.573 8.563-2.367 11.893-5.325.78 1.794 2.93 2.94 5.27 2.634 2.74-.363 4.719-2.596 4.415-4.962zm-22.606-1.069c-5.879.745-11.169-2.71-11.835-7.767-.666-5.019 3.71-9.924 9.419-10.496 3.844-.382 7.059.668 9.305 2.863 5.613 5.438 1.617 14.293-6.889 15.4z">
              </path>
              <path fill="#00ACE5" fill-rule="evenodd" d="M0 0h114.568v55H0V0z" clip-rule="evenodd"></path>
            </g>
            <defs>
              <clipPath id="clip0">
                <path fill="#fff" d="M0 0H260V55H0z"></path>
              </clipPath>
            </defs>
          </svg>
    
        </a>

      </div>

      <ul class="website-footer-list">

        <li><a class="link link--hover-effect-1">Kontakt ABC</a></li>
        <li><a class="link link--hover-effect-1">Sklep</a></li>
        <li><a class="link link--hover-effect-1">Polityka prywatności</a></li>
        <li><a class="link link--hover-effect-1">Moje zgody</a></li>
        <li><a class="link link--hover-effect-1">Regulamin</a></li>
        <li><a class="link link--hover-effect-1">Zaproponuj program</a></li>
        <li><a class="link link--hover-effect-1">Pomoc</a></li>
        <li><a class="link link--hover-effect-1">Informacje o nadawcy</a></li>

      </ul>

    </div>

  </nav>

  <nav class="website-footer-bottom">

    <div class="website-footer-content-bottom width-capper">

      <h2 class="heading heading--color-2">Nasi przyjaciele</h2>
  
      <ul class="warping-pointer-scroller warping-pointer-scroller--auto">

        <li><a><img src="images/misc/friend-1.png"></a></li>
        <li><a><img src="images/misc/friend-2.png"></a></li>
        <li><a><img src="images/misc/friend-3.png"></a></li>
        <li><a><img src="images/misc/friend-4.png"></a></li>
        <li><a><img src="images/misc/friend-5.png"></a></li>
        <li><a><img src="images/misc/friend-6.png"></a></li>
        <li><a><img src="images/misc/friend-7.png"></a></li>
        <li><a><img src="images/misc/friend-8.png"></a></li>
        <li><a><img src="images/misc/friend-9.png"></a></li>
        <li><a><img src="images/misc/friend-10.png"></a></li>
        <li><a><img src="images/misc/friend-11.png"></a></li>
        <li><a><img src="images/misc/friend-12.png"></a></li>
          
      </ul>

      <span class="website-footer__span">©2022 Telewizja Polska S.A.</span>

    </div>

  </nav>

</footer>