@use '../var';

.big-info-box {
  position: relative;

  margin: 16px 0;

  border-radius: var.$radius-normal;

  &:hover {
    & .big-info-box__heading {
      transform: translateY(-0.2em);
    }
  }
}

.big-info-box__image {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
  aspect-ratio: 16/9;

  border-radius: var.$radius-normal;
}

.big-info-box__heading {
  position: absolute;
  bottom: 1%;
  left: 2%;
  
  z-index: 1;

  transition: transform 500ms;
}

.big-info-box__shadow {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 20%;

  border-radius: var.$radius-normal;
  background-image: linear-gradient(transparent, rgb(0 0 0 / 0.5));

  pointer-events: none;
}