@use '../var';

.button {
  padding: 0.8em 4em;

  font-size: clamp(12px, 2.5vw, 16px);
  color: rgb(255 255 255);
  background-color: var.$green;
  border-radius: var.$radius-small;
  border: none;
  font-weight: bold;

  transition: 300ms;

  &:hover {
    background-color: rgb(255 255 255);
    color: var.$green;
    cursor: pointer;
  }
}

.button--with-arrow {
  display: flex;
  align-items: center;
  gap: 0.25em;

  &:hover {
    &::before {
      border-left-color: var.$green;
    }
  }

  &::before {
    content: '';

    display: block;
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 0.35em 0.5em;
    border-color: transparent;
    border-left-color: rgb(255 255 255);

    transition: 300ms;
  }
}