@use '../var';

.heading {
  margin: 0.6em 0;

  font-size: clamp(24px, 4vw, 32px);
  color: rgb(255 255 255);
  font-weight: normal;
}

.heading--small {
  font-size: clamp(18px, 3vw, 24px);
}

.heading--tiny {
  font-size: 16px;
}

.heading--color-2 {
  color: var.$blue;
}

.heading--color-3 {
  color: rgb(0 0 0);
}

.heading--no-margin {
  margin: 0;
}

.heading--bold {
  font-weight: bold;
}