@use '../var';

.info-box {
  margin: 16px 0;
  
  background-color: var.$blue;
  border-radius: var.$radius-normal;

  flex: 1 1 0;

  overflow: hidden;
  user-select: none;

  &:hover {
    & .big-info-box__heading {
      transform: translateY(-0.2em);
    }
  }
}
.info-box--interactive {
  transition: transform 300ms;

  &:hover {
    transform: translateY(-10px);
    background-color: rgb(255 255 255);
    & * {
      color: var.$blue;
    }
  }
}
.info-box--small {
  text-align: center;

  .info-box__text-part {
    padding: 12px;
  }
}

.info-box__image {
  display: block;

  height: 240px;
  width: 100%;

  object-fit: cover;
  object-position: center;

  border-radius: var.$radius-normal var.$radius-normal 0 0;
}

.info-box__text-part {
  height: 90px;
  padding: 16px;

  box-sizing: border-box;
}

@media(min-width: 820px) {
  .info-box--small {
    .info-box__image {
      height: 100px;
    }
  }
}