.link {
  color: rgb(255 255 255);
  text-decoration: none;
}

.link--bold {
  font-size: bold;
}

.link--hover-effect-1 {
  &:hover {
    text-shadow: 0.4px 0.4px currentColor;
  }
}

.link--hover-effect-2 {
  &:hover {
    text-decoration: underline;
  }
}

.link--color-2 {
  color: rgb(0 0 0);
}