@use '../var';

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  height: 100%;
}

.logo--reversed-colors {
  .logo__image-1 {
    padding: 0 12px;

    background-color: rgb(255 255 255);
    & * {
      fill: var.$blue;
    }
  }
}

.logo__image-1 {
  height: 55%;
  transition: var.$header-transition;
}

.logo__image-2 {
  height: 55%;
  transition: var.$header-transition;
}

.logo__letter-a,
.logo__letter-b,
.logo__letter-c {
  transition: var.$header-transition;
}

.logo__letter {
  fill: rgb(255 255 255);
}

@media(min-width: var.$mw-header-change) {
  .logo--fancy {
    position: relative;

    .logo__image-1 {
      height: 70%;
      padding: 0 12px;
      background-color: var.$blue;
    }

    .logo__image-2 {
      position: absolute;
      top: 100%;
      left: 50%;

      height: 75%;
      padding-top: 12px;

      transform: translateX(-50%);

      .logo__letter-a {
        fill: var.$green;
      }
      .logo__letter-b {
        fill: var.$yellow;
      }
      .logo__letter-c {
        fill: var.$red;
      }
    }
  }
}