@use '../var';

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  height: 100%;
}

.logo__image-1 {
  height: 55%;
}

.logo__image-2 {
  height: 55%;
}

.logo__letter {
  fill: rgb(255 255 255);
}

@media(min-width: 1140px) {
  .logo--fancy {
    position: relative;

    .logo__image-1 {
      height: 70%;
      padding: 0 12px;
      background-color: red;
    }

    .logo__image-2 {
      position: absolute;
      top: 120%;
      left: 50%;

      height: 75%;

      transform: translateX(-50%);

      .logo__letter-a {
        fill: var.$green;
      }
      .logo__letter-b {
        fill: var.$yellow;
      }
      .logo__letter-c {
        fill: var.$red;
      }
    }
  }
}