.main-part {
  background-color: rgb(255 255 255);
  background-image: url('../images/misc/abc-background.svg');
  background-position: center;
  background-size: 2500px;
}

.main-part--no-background-image {
  background: rgb(255 255 255);
}

.main-part--pushed-background-image {
  background-position: center top 200px;
}