@use '../var';

.pagination {
  display: flex;
  justify-content: center;

  margin-top: 48px;
}

.pagination__button {
  padding: 0.5em 0.8em;

  border-radius: 0;
  border: 1px solid rgb(217 217 217);
  color: rgb(110 110 110);
  background-color: rgb(255 255 255);
  text-decoration: none;

  transition: 300ms;

  &:hover {
    color: rgb(255 255 255);
    background-color: var.$blue;
  }

  &:first-child {
    border-radius: var.$radius-small 0 0 var.$radius-small;
    border-right: none;
  }

  &:not(:first-child, :last-child) {
    border-right: none;
  }

  &:last-child {
    border-radius: 0 var.$radius-small var.$radius-small 0;
  }
}

.pagination__button--inactive {
  color: rgb(255 255 255);
  background-color: var.$blue;

  &:hover {
    cursor: default;
  }
}

.pagination__button--unusable {
  &:hover {
    color: rgb(110 110 110);
    background-color: rgb(255 255 255);
    cursor: default;
  }
}

.pagination__arrow-button {
  position: relative;
  width: 42px;
  box-sizing: border-box;

  &::before {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 0.35em 0.5em;
    border-color: transparent;
    border-left-color: var.$blue;

    transform: translate(-25%, -50%);
    transition: 300ms;
  }

  &:hover {
    &::before {
      border-left-color: rgb(255 255 255);
    }
  }
}