@use '../var';

$h: 90px;
$image-width: 160px;

.program-presentation {
  flex-grow: 1;
}

.program-presentation-content {
  display: flex;

  background-color: var.$yellow;
}

.program-presentation__image {
  height: $h;
  width: $image-width;

  object-fit: cover;
  object-position: center;
}

.program-presentation__text-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-grow: 1;

  width: calc(100% - $image-width);
  height: $h;
  padding: 12px;

  font-size: 14px;

  box-sizing: border-box;
}

.program-presentation__text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}