.warping-pointer-scroller {
  display: flex;
  align-items: center;
  gap: 32px;

  margin: 32px 0;
  padding: 0;

  list-style: none;

  & > li {
    flex: 0 1 200px;
  }
  & img {
    width: 100%;
  }
}